.contact_form {
  width: 100%;

  label {
    font-weight: 600;
  }
}

.options_buttons_container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.button_right {
  :global(.ant-form-item-control-input-content) {
    display: flex;

    button {
      margin-left: auto;
    }
  }
}
