.contact_form {
  width: 100%;

  label {
    font-weight: 600;
  }

  :global(.ant-radio-button-wrapper),
  input,
  textarea,
  button {
    border-radius: 6px;
  }

  :global(.ant-radio-button-wrapper) {
    border-left-width: 1px;

    &::before {
      display: none;
    }
  }
}

.options_buttons_container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.button_right {
  :global(.ant-form-item-control-input-content) {
    display: flex;

    button {
      margin-left: auto;
    }
  }
}
