@import "../styles/variables";

$largeWidth: 900px;
$mobileWidth: 700px;

.divider {
  background-color: $hunter-green;
  display: flex;
  flex-direction: row;
  min-height: 13rem;
  width: calc(100vw - 17px);
  margin: 2rem 0;

  @media (max-width: $mobileWidth) {
    flex-direction: column;
    height: fit-content;
  }

  &_text_panel,
  &_image_container {
    height: auto;
    width: auto;
    flex-grow: 1;
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &_image_container {
    position: relative;

    @media (max-width: $mobileWidth) {
      min-height: 15rem;
    }
  }

  &_text_container {
    max-width: 70%;
    padding: 2rem 0;

    @media (min-width: $largeWidth) {
      padding: 4rem 1rem;
    }

    @media (max-width: $mobileWidth) {
      max-width: 80%;
    }

    &_title {
      color: $off-white !important;
      font-weight: bold;
    }

    &_text {
      color: $off-white;
      font-weight: 600;
    }
  }
}
