$medWidth: 900px;
$smallWidth: 780px;
$mobileWidth: 600px;

.mood_board {
  width: 100%;
  height: 80vw; // Ratio of 5:4
  max-height: 50rem;

  @media (min-width: $medWidth) {
    height: 60vw; // Ratio of 3:2
  }

  @media (min-width: $mobileWidth) and (max-width: $smallWidth) {
    height: 120vw;
    max-height: unset;
  }

  @media (max-width: $mobileWidth) {
    max-height: unset;
    height: unset;
  }

  &_layout {
    display: grid;
    height: 100%;
    gap: 1.5rem;
    grid-template-columns: 6.6fr 7.4fr 5fr;
    grid-template-rows: 0.2fr 1.3fr 0.5fr 1fr;

    @media (max-width: $smallWidth) {
      gap: 1rem;
      grid-template-columns: 1.8fr 0.3fr 1.3fr;
      grid-template-rows: calc(10vw + 5rem) 0.2fr 1.7fr 2fr 1.5fr;
    }

    @media (max-width: $mobileWidth) {
      display: flex;
      flex-direction: column;
    }

    & > * {
      filter: drop-shadow(6px 6px 8px rgba(0, 0, 0, 0.3));
      cursor: pointer;
      position: relative;

      &:hover {
        filter: drop-shadow(16px 10px 16px rgba(0, 0, 0, 0.4));
      }

      span {
        position: unset !important;
      }

      &,
      img {
        border-radius: 12px;
      }
    }

    &_description {
      display: flex;
      flex-direction: column;
      grid-area: 1 / 1 / auto / span 2;
      justify-content: flex-end;
      margin-right: 0;
      padding-bottom: 1rem;

      @media (min-width: $medWidth) {
        margin-right: 5rem;
      }

      @media (max-width: $smallWidth) {
        grid-area: 1 / 1 / span 2 / span 2;
      }
    }

    &_top_left {
      grid-area: 2 / 1 / span 2;

      @media (max-width: $smallWidth) {
        grid-area: 5 / 2 / auto / span 2;
      }
    }

    &_top_centre {
      grid-area: 2 / 2;

      @media (max-width: $smallWidth) {
        grid-area: 3 / 1 / auto / span 2;
      }
    }

    &_top_right {
      grid-area: 1 / 3 / span 2;

      @media (max-width: $smallWidth) {
        grid-area: 2 / 3 / span 3;
      }

      flex-grow: 3;
    }

    &_bottom_left {
      grid-area: 4 / 1;

      @media (max-width: $smallWidth) {
        grid-area: 5 / 1;
      }
    }

    &_bottom_right {
      grid-area: 3 / 2 / span 2 / span 2;

      @media (max-width: $smallWidth) {
        grid-area: 4 / 1 / auto / span 2;
      }
    }

    @media (max-width: $mobileWidth) {
      &_top_left,
      &_top_centre,
      &_top_right,
      &_bottom_left,
      &_bottom_right {
        max-height: 40rem;
      }
    }
  }
}
