.mood_board {
  width: 100%;
  height: 60vw; // Keeps ratio of 3:2
  max-height: 50rem;

  &_layout {
    display: grid;
    height: 100%;
    gap: 1.5rem;
    grid-template-columns: 6.8fr 7.4fr 4.5fr;
    grid-template-rows: 0.7fr 1.7fr 0.3fr 1fr;

    & > * {
      filter: drop-shadow(6px 6px 8px rgba(0, 0, 0, 0.3));
      cursor: pointer;

      &:hover {
        filter: drop-shadow(16px 10px 16px rgba(0, 0, 0, 0.4));
      }

      &,
      img {
        border-radius: 12px;
      }
    }

    &_description {
      display: flex;
      flex-direction: column;
      grid-area: 1 / 1 / auto / span 2;
      justify-content: flex-end;
      margin-right: 5rem;
      padding-bottom: 1rem;
    }

    &_top_left {
      grid-area: 2 / 1 / span 2;
      background: #ff9aa2;
    }

    &_top_centre {
      grid-area: 2 / 2;
      background: #ffdac1;
    }

    &_top_right {
      grid-area: 1 / 3 / span 2;
      background: #e2f0cb;
    }

    &_bottom_left {
      grid-area: 4 / 1;
      background: #b5ead7;
    }

    &_bottom_right {
      grid-area: 3 / 2 / span 2 / span 2;
      background: #c7ceea;
    }
  }
}
