@use "styles/variables";

.header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 0;
  padding: 1rem 2rem;
  z-index: 1;
  position: sticky;
  top: 0;
  background: white;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);

  :global(.ant-menu-horizontal) {
    border-bottom: 0;
    background-color: transparent;
  }

  &_logo {
    width: fit-content;
    height: 4.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    column-gap: 0.5rem;

    &_text {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-self: flex-end;
      height: 100%;
      white-space: nowrap;

      h1,
      h2 {
        font-family: "Alegreya Sans SC", sans-serif;
        font-style: normal;
        margin: 0;
        color: variables.$viridian-green;
      }

      h1 {
        font-weight: 800;
        font-size: 2rem;
        line-height: 1.8rem;
      }

      h2 {
        font-weight: 700;
        font-size: 1.4rem;
        line-height: 1.3rem;
      }
    }

    img {
      height: 100%;
      width: auto;
    }
  }

  &_menu {
    flex-grow: 1;
    justify-content: flex-end;
    width: 0; // Allows AntD responsive resizing with flex-grow
  }
}
