@use "styles/variables";

$mobile-width: 660px;
$small-mobile-width: 360px;

.header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 0;
  padding: 1rem;
  z-index: 2;
  position: sticky;
  top: 0;

  @media (min-width: $mobile-width) {
    padding: 1rem 2rem;
  }

  :global(.ant-menu-horizontal) {
    border-bottom: 0;
    background-color: transparent;
  }


  &_menu {
    flex-grow: 1;
    justify-content: flex-end;
    width: 0; // Allows AntD responsive resizing with flex-grow

    :global(.ant-menu-item) {
      padding: 0 15px !important;
    }

    :global(.anticon) {
      font-size: 1.7rem !important; // Controls size of icons in NavBar menu
    }

    :global(.ant-menu-title-content) {
      margin-left: 5px !important;
      font-size: 1rem;
    }
  }
}
