@use "styles/variables";

$text-background: rgb(0, 0, 0, 0.35);
$bottom-separation: 9rem; // For content to sit below nav bar after scrolling
$mobileWidth: 500px;

.masthead {
  height: 100vh;
  width: 100vw;
  margin-top: -7.5rem;
  margin-bottom: 0.5rem;
  scroll-snap-align: center;

  &_background,
  &_midground,
  &_foreground {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }

  &_background {
    width: 100vw;
    z-index: -1;
  }

  &_midground {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 0;
    margin-right: 0;
    width: min(30rem, 100%);
    position: absolute;
    gap: 2em;

    @media (min-width: $mobileWidth) {
      margin-right: 2rem;
      width: min(30rem, 80%);
      right: 0;
      align-items: flex-end;
    }

    @media (min-width: 1000px) {
      margin-right: 5rem;
    }
  }

  &_foreground {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    z-index: 1;
  }

  &_bottom_button {
    max-width: 100%;
    white-space: pre-wrap;
    height: fit-content !important;
    margin-bottom: 1rem !important;

    h2 {
      margin: 0 !important;
      color: white;
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.page_start {
  height: $bottom-separation;
  scroll-snap-align: start;
}

.logo_container,
.text_container {
  &,
  &:hover,
  &:focus {
    border-radius: 0.8rem;
    background: $text-background;
    box-shadow: 0 0 15px 15px $text-background;
  }
}

.logo_container {
  margin: 2rem;
  padding: 0.5rem;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;

  .logo {
  }
}

.text_container {
  width: fit-content;

  h1,
  h2 {
    color: white;
    text-align: center;

    @media (min-width: $mobileWidth) {
      margin-left: 1rem;
    }
  }

  h1 {
    font-weight: 900;
    font-size: min(min(12vw, 12vh), 6rem);
    line-height: min(min(13vw, 14vh), 6.5rem);
  }

  h2 {
    font-weight: 600;
    font-size: min(min(8vw, 10vh), 2rem);
    line-height: min(min(9vw, 11vh), 2.5rem);
  }
}
