@import "variables";

$mediumWidth: 900px;
$smallWidth: 700px;
$mobileWidth: 450px;
$illustrationsMax: 30rem;

.about_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  justify-content: center;
  margin-left: 0.5rem;

  @media (min-width: $mediumWidth) {
    gap: 4rem;
  }
  @media (max-width: $smallWidth) {
    flex-direction: column;
    align-items: flex-start;
  }

  h1 {
    white-space: nowrap;
  }

  &_panel {
    display: flex;
    flex-direction: column;
    width: fit-content;

    &_illustrations_container {
      max-width: $illustrationsMax;
    }
  }

  &_descriptors {
    font-size: 30px;
    line-height: 1.35;
    display: flex;
    flex-direction: column;

    @media (max-width: $smallWidth) {
      font-size: 28px;
    }

    @media (max-width: $mobileWidth) {
      font-size: 25px;
    }
  }

  &_illustrations {
    max-width: min(#{$illustrationsMax}, 100%);

    @media (max-width: $smallWidth) {
      position: relative;
      margin-top: -10rem;
      align-self: flex-end;
      max-width: min(#{$illustrationsMax}, 70%);
    }

    @media (max-width: $mobileWidth) {
      margin-top: -8rem;
    }
  }
}

.about_panels {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  gap: 1rem;

  &_panel {
    flex-grow: 1;
    flex-basis: 25rem;
    height: fit-content;

    h2 {
      text-align: center;
    }
  }
}

.awards_list {
  :global(.ant-list-item-meta) {
    align-items: center;

    &:global(-avatar) {
      width: 7rem;
      display: flex;
      justify-content: center;
    }
  }


  img {
    max-width: 100%;
    max-height: 7rem;
  }
}
