$imageOffsetX: 10.5rem;
$imageOffsetY: -20px;

.contact_page {
  max-width: 60rem;
  margin-right: $imageOffsetX;
}

.contact_form_container {
  max-width: 30rem;
  margin-top: 1rem;
}

.contact_title {
  width: 100%;
  text-align: start;
  margin-top: 1rem;
}

.contact_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4rem;
  justify-content: center;
  margin-left: 0.5rem;
  position: relative;
  width: 100%;

  p {
    font-size: 1.2em;
    margin-bottom: 0.5rem;
  }

  &_panel {
    display: flex;
    flex-direction: column;
    width: fit-content;

    &_image {
      position: absolute;
      right: calc(-#{$imageOffsetX});
      top: $imageOffsetY;
      max-width: 15rem;
    }
  }
}
